* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    background-size: cover;
    background-image: url(./js/img/pexels-pixabay-209831.jpg);
    background-position: top center;
}


.app-weith {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #fff;
}

main {
    margin-left: 25%;
    margin-top: 30%;
}

.city {
    font-size: 60px;
    color: white;
}

.date {
    font-size: 30px;
    margin-top: 10px;
    color: white;
}

.temp-selection {
    display: flex;
    margin-top: 50px;
    font-size: 50px;
}

.temp {
    margin-right: 15px;
    color: white;
}

.weather {
    margin-right: 15px;
    color: white;
}

.hi-low {
    color: wi;
    color: white;
}

.serch-box {
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 20%;
    font-size: 20px;
}